<div class="news tile">
  <div class="tile__title">NEWS</div>
  <div class="tile__body">
    Phasellus ut lorem tempus, tincidunt metus sed, lobortis ligula. Integer a eros non quam faucibus tristique ac in nulla. Maecenas mollis elit non eros efficitur convallis. In hac habitasse platea dictumst. Phasellus diam dolor, convallis vitae sapien ut, aliquam imperdiet eros. Pellentesque suscipit rutrum consectetur. Proin egestas lectus mi, imperdiet iaculis ligula scelerisque vel. Sed eget erat viverra, euismod nulla a, convallis mi. Maecenas tempus ipsum quis diam imperdiet, in posuere nisi fringilla. Praesent convallis erat quis vulputate viverra. Duis fermentum maximus turpis, et interdum elit varius quis. Ut mattis orci non eros tristique, at cursus nibh aliquam. Nam finibus accumsan risus in congue.
    <div class="tile__center-link">
        <a href="https://store.cdbaby.com/cd/fickleminds?SourceCode=HEARNOW">Get the Album</a>
    </div>
  </div>
</div>